/**** main methods ****/

input:focus::placeholder {
    display: none;
}


/******login  and register pages ******/

login-body,
register-body {
    background-color: #f4f4f4;
}

.slider .wellcome-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}